# Eureka Client Configuration
eureka:
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    leaseRenewalIntervalInSeconds: 2
    leaseExpirationDurationInSeconds: 2

# Enable Actuator
management:
  endpoints:
    web:
      exposure:
        include: '*'
        base-path: /actuator

# Zipkin Configuration
  tracing:
    sampling:
      probability: 1.0

# Logging Configuration
logging:
  level:
    org:
      springframework:
        web: ALL # ALL, INFO, ERROR
  pattern:
    level: '%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]'